<!DOCTYPE html>
<html>
  <head>
    <title>Error Aggregation Web App</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
    <header>
		<div class="container">
			<h1 class="logo">Error Aggregation Web App</h1>
			<strong><nav>
				<ul class="menu">
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('list') }}">List</a></li>
					<li><a href="{{ url_for('error1') }}">Error 1</a></li>
					<li><a href="{{ url_for('error2') }}">Error 2</a></li>
					<li><a href="{{ url_for('error3') }}">Error 3</a></li>
					<li><a href="{{ url_for('error4') }}">Error 4</a></li>
					<li><a href="{{ url_for('email_errors') }}">Email Errors</a></li>
				</ul>
			</nav></strong>
		</div>
	</header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>